body{

}

h1{
	color: black;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
}

h3{
	color:black;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size:20px;
}

h5{
	color:white;
	font-family: 'Oswald';
}

.textFormat{
	color: black;
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	text-align: justify;
}

.textFormat2{
	color: black;
	font-family: 'Oswald', sans-serif;
	font-size:15px;
	text-align: justify;
}

#title{
	font-family: 'Luckiest Guy', cursive;
	text-transform: uppercase;
	font-size:30px;
	margin-left:15px;
}

.menuitem{
	font-weight: bold;
}



.marginTop{
	margin-top: 25px;

}

.marginBot{
	margin-bottom: 50px;
}

.img{
	margin-top: 10px;
	margin-bottom: 10px;
}

.footerStyler{
	background-color: black;
	color:white;
}

.white{
	color:white;
	font-family: 'Oswald';
	font size:18px;
}

.captionFormat{

}